#Customize this variables for you

#path to your public and private ssh key
public_ssh_key_path:/home/user/.ssh/public_key.pub
ssh_key_path:/home/user/.ssh/private_key

jenkins_username:admin
jenkins_password:admin119

#Nexus username is admin
nexus_password:admin119

aws_access_key_id:awsaccesskeyid
aws_secret_access_key:awssecretaccesskey

sql_password: admin  
